html {
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-touch-action: none;
    font-size: .875rem;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, input {
    font-family: "Helvetica Neue", "Microsoft YaHei", Helvetica, STHeiTi, Arial;
    color: #000;
    font-size: 14px;
    line-height: 1;
}

ul, ol, li {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

a:link,
a:visited {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover,
a:active {
    text-decoration: none;
}

a, input, button, select, textarea {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-focus-ring-color: rgba(0,0,0,0);
}

.hide {
    display: none !important;
}

.hidden {
    visibility: hidden;
}

.clearfix:before,.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

/* 数字字体 */
.font-num {
    font-family: "HelveticaNeue-Thin", "roboto thin", "sans-serif-thin";
}

.mg-loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #fff;
    color: #999;
    text-align: center;
}

.mg-loading .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    -webkit-transform: translate(-50%, -50%);
}

.mg-loading p {
    font-size: 14px;
    padding-top: 8px;
}

.mg-loading .circle {
    border-left: 2px solid #f06000;
    border-top: 2px solid #d6d6d6;
    border-right: 2px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: auto;
    -webkit-animation: load 1.2s infinite linear;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.mg-share {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 200;
    text-align: right;
    display: none;
    z-index: 9001;
}

.mg-share img {
    width: 150px;
    margin: 10px;
}


.mg-toast {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9002;
    display: none;
}

.mg-toast p {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 60%;
    line-height: 18px;
    padding: 8px;
    margin: 0 0 0 -30%;
    color: #fff;
    border-radius: 4px;
    background: rgba(0,0,0,.6);
    text-align: center;
    font-size: 14px;
    display: none;
    -webkit-transition: all .5s ease-out;
}

.mg-toast p.s1 {
    opacity: 1;
    top: 45%;
}

.mg-toast p.h0 {
    opacity: 0;
}

body {
    background: #eeeeee;
}

.page-index,
.page-yuyue,
.page-list,
.page-intro {
    max-width: 640px;
    margin: auto;
}

.page-intro .banner .swiper-pagination {
    text-align: left;
}

.page-index .banner .swiper-pagination-bullet,
.page-intro .banner .swiper-pagination-bullet {
    background: rgba(255, 255, 255, .3);
    opacity: 1;
}

.page-index .banner .swiper-pagination-bullet-active,
.page-intro .banner .swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, 1);
    opacity: 1;
}

.page-index .banner .swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet,
.page-intro .banner .swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
    margin: 0 4px;
}

.page-index .banner  .swiper-container-horizontal>.swiper-pagination,
.page-intro .banner  .swiper-container-horizontal>.swiper-pagination {
    left: 5px;
}

.page-index .banner .title,
.page-intro .banner .title {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    line-height: 36px;
    height: 36px;
    overflow: hidden;
    text-indent: 10px;
}

.page-index .banner .icon,
.page-intro .banner .icon {
    width: 18%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.pannel-yysingers,
.pannel-tuijian {
    padding: 20px 0;
}

.pannel-yysingers .btn-jmxz {
    background: #FDAD36;
    border-radius: 20px;
    color: #934351;
    display: block;
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 12px 0;
}

.page-index .btn-download {
    display: block;
    text-align: center;
}

.pannel-tuijian .btn-download {
    margin-top: 20px;
}

.gsxz ul {
    padding-top: 20px;
}

.gsxz li {
    float: left;
    width: 25%;
    text-align: center;
    margin-bottom: 15px;
}

.gsxz li .avatar {
    width: 70%;
    margin: auto;
    border-radius: 100%;
    position: relative;
    text-align: center;
}

.gsxz li .avatar img {
    border-radius: 100%;
    position: relative;
    z-index: 10;
}

.gsxz li .avatar .icon-mc {
    border-radius: 0;
    width: 60%;
    position: absolute;
    right: -10%;
    top: 0;
    z-index: 1;
}

.gsxz li .name {
    color: #fff;
    padding: 10px 0 5px;
    font-size: 12px;
    text-align: center;
}

.footer {
    padding-top: 20px;
}

.tab-nav li {
    float: left;
    width: 33.33%;
    text-align: center;
}

.tab-nav li a {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
    display: block;
}

.tab-nav li a {
    background: #151515;
    color: #fff;
    border-top: 2px solid #151515;
    border-right: 1px solid #333333;
}

.tab-nav li:last-child a {
    border-right: none;
}

.tab-nav li a img {
    width: 10px;
    display: none;
}

.tab-nav li a.cur {
    color: #FDAD36;
    background: #250A3C;
    border-top: 2px solid #FDAD36;
}

.tab-nav li a.cur {
    /*border-right: none;*/
}

.tab-nav li a.cur img {
    display: inline;
}

.page-person {
    max-width: 640px;
    margin: auto;
    overflow: hidden;
}

.page-person .header {
    padding: 5px;
}

.page-person .header .video {
    position: relative;
}

.page-person .header .btn-play {
    width: 18%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.page-person .header .info {
    background: url(http://i5.hunantv.com/s1/2015/mwsgssltg/images/v2/bg2.jpg) no-repeat;
    background-size: 100% 100%;
    color: #fff;
}

.page-person .header .name {
    font-size: 18px;
    padding: 20px 20px 15px;
    font-weight: bold;
    color: #FDAD36;
}

.page-person .header .suffix-name {
    width: 70px;
    position: relative;
    top: -1px;
    margin-left: 6px;
}

.page-person .header .desc {
    padding: 0 20px 20px;
}

.page-person .header .desc p {
    line-height: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.page-person .header .btn {
    text-align: center;
    padding-top: 20px;
}

.page-person .header .btn-expand {
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 6px 40px;
}

.page-person .header .btn-expand img {
    width: 8px;
    -webkit-transition: all .4s ease;
}

.page-person .header .btn-expand.active img {
    -webkit-transform: rotate(180deg);
}

.page-person .header .status {
    display: -webkit-box;
    -webkit-box-align: center;
}

.page-person .header .status-btn {
    width: 120px;
    text-align: center;
}

.page-person .header .status-btn a.btn-yyt {
    display: inline-block;
    background: #FDAD36;
    color: #701758;
    font-size: 18px;
    padding: 8px 18px;
    border-radius: 20px;
    margin-top: 10px;
}

.page-person .header .status-btn a.btn-download {
    display: inline-block;
    background: #FDAD36;
    color: #701758;
    font-size: 14px;
    padding: 8px 18px;
    border-radius: 20px;
    margin-top: 10px;
}

.page-person .header .status-btn a.btn-yyy {
    display: inline-block;
    background: none;
    border: 1px solid #888888;
    color: #888888;
    font-size: 18px;
    padding: 8px 18px;
    border-radius: 20px;
    margin-top: 10px;
}

.page-share .header .status-btn {
    width: 50%;
}

.page-share .header .status-btn a {
    font-size: 14px;
    margin: 10px 0;
}

.page-person .header .status-info {
    -webkit-box-flex: 1;
    text-align: right;
    color: #fff;
    padding-top: 10px;
}

.page-share .header .status-info {
    padding-top: 0;
}

.page-person .header .status-info p {
    padding: 0 0 6px 0;
}

.page-person .header .status-info img {
    width: 10px;
    position: relative;
    top: -1px;
}

.page-person .header .status-info span {
    border: 1px solid #fff;
    margin: 0 2px;
    padding: 2px;
    display: inline-block;
}

@media only screen and (max-width: 320px) {
    .page-person .header .status-info {
        font-size: 12px;
    }

    .page-share .header .status-btn {
        width: 45%;
    }

    .page-share .header .status-btn a {
        font-size: 12px;
        margin: 10px 0;
        padding: 8px;
    }
}

.page-person .jindu {
    width: 100%;
    overflow: hidden;
}

.page-person .jindu p {
    height: 2px;
    background: #2A4CF5;
}

.page-person .container {
    background: url(http://i5.hunantv.com/s1/2015/mwsgssltg/images/v2/bg3.jpg) no-repeat;
    background-size: 100% 100%;
}

.zbhg {
    padding: 8px 8px 0 8px;
}

.zbhg .hd {
    color: #00FEC1;
    padding-bottom: 8px;
    font-size: 12px;
    vertical-align: bottom;
    padding-top: 30px;
}

.zbhg .hd img {
    width: 40%;
}

.zbhg .bd {
    position: relative;
}

.zbhg .bd .icon-play {
    width: 18%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.zbhg .bd .title {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    line-height: 36px;
    height: 36px;
    overflow: hidden;
    width: 100%;
    padding: 0 10px;
}

.zbhg .ft .nums {
    background: #fff;
    color: #000;
    padding: 10px 8px;
    line-height: 20px;
    font-weight: bold;
    font-size: 16px;
}

.zbhg .ft .nums span {
    margin-right: 10px;
}


.zbhg .swiper-container-horizontal>.swiper-pagination {
    left: 0;
    right: 0;
}

.zbhg .swiper-pagination {
    text-align: right;
}

.zbhg .swiper-pagination-bullet {
    background: #fff;
    opacity: .3;
}

.zbhg .swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
}

.page-person .live-show {
    padding: 20px 0 0;
}

.page-person .live-show .hd {
    padding: 10px 8px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.page-person .live-show .hd .title {
    width: 25%;
}

.page-person .live-show .hd .more {
    -webkit-box-flex: 1;
    text-align: right;
}

.page-person .live-show .hd .more a {
    color: #fff;
}

.page-person .live-show .bd ul {
    padding: 0 0 0 8px;
}

.page-person .live-show .bd li {
    float: left;
    width: 50%;
    padding-right: 8px;
    margin-bottom: 8px;
}

.page-person .live-show .bd li .pic {
    position: relative;
}

.page-person .live-show .bd li .time {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    color: #aaa;
    background: rgba(0, 0, 0, .8);
    padding: 4px 8px;
}

.page-person .live-show .bd li .title {
    background: #151515;
    padding: 8px;
    height: 50px;
    color: #fff;
}

.page-person .live-show .bd li .title p {
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.tdyy,
.tdtp,
.live-tgcc,
.live-gsdrc,
.tlxgs,
.jxsp,
.tdsh {
    margin: 20px 0 0;
}

.tdyy .hd,
.live-tgcc .hd,
.live-gsdrc .hd,
.jxsp .hd,
.tlxgs .hd,
.tdtp .hd {
    padding: 8px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.tdsh .hd {
    text-align: left;
}

.jxsp .hd .title,
.tdyy .hd .title,
.live-tgcc .hd .title,
.live-gsdrc .hd .title,
.tdtp .hd .title,
.tdsh .hd .title {
    width: 50%;
}


.tlxgs .hd .title {
    width: 75%;
}

.tdyy .hd .more,
.jxsp .hd .more,
.tdtp .hd .more,
.live-tgcc .hd .more,
.live-gsdrc .hd .more,
.tlxgs .hd .more,
.tdsh .hd .more {
    -webkit-box-flex: 1;
    text-align: right;
}

.tdyy .hd .more a,
.jxsp .hd .more a,
.live-tgcc .hd .more a,
.live-gsdrc .hd .more a,
.tdtp .hd .more a,
.tlxgs .hd .more a,
.tdsh .hd .more a {
    color: #fff;
}

.tdyy .bd,
.jxsp .bd,
.live-tgcc .bd,
.live-gsdrc .bd,
.tdtp .bd,
.tlxgs .bd,
.tdsh .bd {
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    margin-top: 8px;
}

.tdyy .bd ul,
.live-tgcc .bd ul,
.live-gsdrc .bd ul,
.jxsp .bd ul,
.tlxgs .bd ul,
.tdsh .bd ul {
    padding-left: 8px;
}

.tdyy .bd li,
.live-tgcc .bd li,
.live-gsdrc .bd li,
.jxsp .bd li,
.tlxgs .bd li,
.tdsh .bd li {
    float: left;
    width: 50%;
    padding-right: 8px;
    margin-bottom: 8px;
}

.tdtp {
    padding: 0 8px;
}

.tdtp .hd {
    padding-left: 0;
}

.tdtp .bd ul {
    display: table;
}

.tdtp .bd li {
    display: inline-block;
    width: 125px;
    margin-right: 6px;
}

.tdyy .bd li .pic,
.live-tgcc .bd li .pic,
.live-gsdrc .bd li .pic,
.jxsp .bd li .pic,
.tlxgs .bd li .pic,
.tdsh .bd li .pic {
    position: relative;
}

.tdyy .bd li .time,
.live-tgcc .bd li .time,
.live-gsdrc .bd li .time,
.jxsp .bd li .time,
.tlxgs .bd li .time,
.tdsh .bd li .time {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    color: #aaa;
    background: rgba(0, 0, 0, .8);
    padding: 4px 8px;
}

.tdyy .bd li .title,
.live-tgcc .bd li .title,
.live-gsdrc .bd li .title,
.jxsp .bd li .title,
.tlxgs .bd li .title,
.tdsh .bd li .title {
    padding: 8px;
    height: 50px;
    background: #151515;
    color: #fff;
}

.tdyy .bd li .title p,
.live-tgcc .bd li .title p,
.live-gsdrc .bd li .title p,
.jxsp .bd li .title p,
.tlxgs .bd li .title p,
.tdsh .bd li .title p {
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.comments {
    margin: 20px 0 0;
}

.comments .bd {
    background: url(http://i5.hunantv.com/s1/2015/mwsgssltg/images/comment-bd.png) repeat-y;
    background-size: 100%;
}

.comments .form {
    width: 85%;
    margin: auto;
    padding-top: 10px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.comments .txt {
    -webkit-box-flex: 1;
}

.comments .txt input {
    width: 100%;
    border: none;
    background: #D4D4D4;
    border-radius: 20px;
    padding: 6px 15px;
}

.comments .btn {
    width: 80px;
    padding-left: 10px;
}

.comments .btn input {
    width: 100%;
    border: none;
    background: #FDAD36;
    border-radius: 20px;
    padding: 8px 15px;
    -webkit-appearance: none;
    color: #701758;
}

.comments dl {
    width: 85%;
    margin: auto;
    padding: 20px 0 10px;
}

.page-share .comments dl {
    padding: 10px 0;
}

.comments dt {
    color: #666;
    padding-bottom: 20px;
}

.comments dd {
    display: -webkit-box;
    /*-webkit-box-align: center;*/
    -webkit-box-pack: center;
    border-bottom: 1px solid #EEEEF0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.comments dd .avatar {
    width: 40px;
    border-radius: 100%;
}

.comments dd .avatar img {
    border-radius: 100%;
}

.comments dd .info {
    -webkit-box-flex: 1;
    padding-left: 10px;
}

.comments dd .info .name {
    color: #666;
    padding-bottom: 6px;
}

.comments dd .info .cnt {
    color: #222;
    line-height: 16px;
    white-space: normal;
    word-break: break-all;
}

.comments dd .like {
    width: 55px;
    text-align: right;
    font-size: 12px;
    color: #666;
    padding-top: 10px;
}

.comments dd .like img {
    width: 14px;
    position: relative;
    top: -3px;
}

.comments .more {
    text-align: center;
    padding-bottom: 10px;
}

.comments .more a {
    color: #888;
}

.ft {
}

.ft p {
    width: 100%;
    margin:5% auto;
    text-align: center;
    color: #333333;
    font-size: 14px;
    line-height: 150%;
}

.pannel-singers {
    background: url(http://i5.hunantv.com/s1/2015/mwsgssltg/images/bg3.jpg) no-repeat;
    background-size: 100%;
}

.pannel-singers ul {
    padding: 40px 0 10px;
}

.pannel-singers li {
    float: left;
    width: 33.33%;
    text-align: center;
    margin-bottom: 30px;
}

.pannel-singers li a {
    display: block;
    position: relative;
    color: #fff;
}

.pannel-singers li .rank {
    position: absolute;
    left: 50%;
    top: 0;
    width: 45%;
    padding: 5px 0;
    background: rgba(0, 0, 0, .6);
    border-radius: 20px;
    text-align: right;
    color: rgba(255, 255, 255, .5);
    font-style: italic;
    padding-right: 12px;
    font-size: 12px;
}

.pannel-singers li:nth-child(1) .rank {
    background: #FF262A;
    color: #fff;
}

.pannel-singers li:nth-child(2) .rank {
    background: #F2BB2C;
    color: #fff;
}

.pannel-singers li:nth-child(3) .rank {
    background: #2E22FA;
    color: #fff;
}

@media only screen and (max-width: 320px) {
    .pannel-singers li .rank {
        position: absolute;
        left: 50%;
        top: 0;
        width: 45%;
        padding: 5px 0;
        background: rgba(0, 0, 0, .6);
        border-radius: 20px;
        text-align: right;
        color: rgba(255, 255, 255, .5);
        font-style: italic;
        padding-right: 8px;
        font-size: 12px;
    }
}

.pannel-singers li .avatar {
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 10;
    border-radius: 100%;
}

.pannel-singers li .avatar img {
    border-radius: 100%;
}

.pannel-singers li .name {
    padding: 8px 0;
}

.pannel-singers li .fenbei span {
    color: #00DDA7;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    margin-right: 4px;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 1000;
}

.popup .main {
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -60%);
    width: 100%;
}

.popup-yycg .wrap {
    width: 100%;
    position: absolute;
    left: 0;
    top: 27%;
    text-align: center;
}

.popup-tjcg .wrap {
    width: 100%;
    position: absolute;
    left: 0;
    top: 35%;
    text-align: center;
}

.popup-yycg .btn-close {
    position: absolute;
    top: 0;
    right: 12%;
    width: 6%;
}

.popup-tjcg .btn-close {
    position: absolute;
    top: 0;
    right: 12%;
    width: 6%;
}

.popup-yycg .ret1 {
    width: 30%;
    margin: 6% auto 0;
}

.popup-tjcg .ret {
    width: 30%;
    margin: 10% auto 0;
}

.popup-yycg .ret2 {
    color: #FFFFFF;
    margin: 3% auto 0;
}

.popup-tjcg .tips {
    color: #FFFFFF;
    margin: 3% auto 0;
}

.popup-yycg .t1 {
    color: #FFFFFF;
    margin: 8% 0 0;
}

.popup-yycg .t2 {
    color: #B6B6B6;
    padding: 3% 10%;
    font-size: 12px;
}

.popup-yycg .ret2 span {
    color: #FDAD35;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.popup-yycg .phone {
    width: 55%;
    border: 2px solid #fff;
    background: none;
    display: block;
    margin: 5% auto;
    color: #fff;
    padding: 8px 0;
    text-align: center;
}

.popup-yycg .btn-tj {
    width: 25%;
    background: #FDAD35;
    border-radius: 20px;
    display: block;
    margin: 5% auto;
    color: #250A3C;
    padding: 10px 0;
}

.popup-tjcg .btn-fx {
    width: 35%;
    background: #FDAD35;
    border-radius: 20px;
    display: block;
    margin: 12% auto 0;
    color: #250A3C;
    padding: 14px 0;
}

.rule .header-title {
    padding: 20px 8px 8px;
}

.rule .header-title img {
    width: 16%;
}

.rule .header-desc {
    padding: 10px 8px 30px;
    color: #fff;
    line-height: 20px;
}

.rule {
    background: url(http://i5.hunantv.com/s1/2015/mwsgssltg/images/v2/bg1.jpg) no-repeat;
    background-size: 100% 100%;
}

.rule ul {
    color: #fff;
    padding: 0 8px;
    position: relative;
    z-index: 10;
}

.rule li {
    margin: 0 0 30px;
}

.rule .title {
    font-size: 16px;
    padding-left: 22px;
    background: url(http://i5.hunantv.com/s1/2015/mwsgssltg/images/v2/icon-dot1.png) no-repeat;
    background-size: 15px;
    padding-bottom: 10px;
}

.rule .time {
    margin: 10px 0;
    padding-left: 22px;
}

.rule .time span {
    display: inline-block;
    background: #fff;
    color: #000055;
    padding: 4px 4px;
}

.rule .desc {
    padding-left: 22px;
    line-height: 20px;
}

.rule li.cur {
    color: #FDAD35;
}

.rule li.cur .title {
    background: url(http://i5.hunantv.com/s1/2015/mwsgssltg/images/v2/icon-dot2.png) no-repeat;
    background-size: 15px;
}

.rule li.cur .time span {
    background: #FDAD35;
}

.rule .list {
    position: relative;
}

.rule .line {
    height: 100%;
    width: 1px;
    background: #2D0D46;
    position: absolute;
    left: 15px;
    top: 0;
    z-index: 1;
}

.pannel-tuijian,
.page-list {
    background: url(http://i5.hunantv.com/s1/2015/mwsgssltg/images/v2/bg1.jpg) no-repeat;
    background-size: 100% 100%;
}

.mod .hd {
    display: -webkit-box;
    -webkit-box-align: left;
    -webkit-box-pack: left;
    padding: 8px;
}

.mod .hd .title {
    width: 50%;
    height:20px;
    border-left:3px solid #f06000;
    color:#000;
    font-size:14px;
    line-height: 20px;
    padding-left:8px;
}


.mod .hd .more {
    -webkit-box-flex: 1;
    text-align: right;
}

.mod .hd .more a {
    color: #fff;
}

.mod .bd ul {
    padding: 0 0 0 8px;
}

.mod .bd li {
    float: left;
    width: 50%;
    padding: 0 8px 0 0;
    margin-bottom: 8px;
}

.mod .bd li .pic {
    position: relative;
}

.mod .bd li .time {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    color: #aaa;
    background: rgba(0, 0, 0, .8);
    padding: 4px 8px;
}

.mod .bd li .title {
    background: #FFFFFF;
    padding: 8px;
    height: 50px;
    color: #333333;
}

.mod .bd li .title p {
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.mod-xbjx,
.mod-jcsp,
.mod-qxbd {
    padding-bottom: 20px;
}

.page-list .mod {
    padding-top: 8px;
}

.page-yuyue .banner {
    position: relative;
}

.page-yuyue .banner .icon {
    width: 18%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.page-yuyue .container {
    background: url(http://i5.hunantv.com/s1/2015/mwsgssltg/images/v2/bg4.jpg) no-repeat;
    background-size: 100% 100%;
    padding-bottom: 40px;
}

.page-yuyue .slogan {
    width: 88%;
    margin: auto;
    padding: 40px 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.page-yuyue .tips {
    width: 88%;
    margin: 15px auto 0;
    padding-bottom: 15px;
    color: #888888;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.page-yuyue .title {
    text-align: center;
    color: #FFF3D3;
    padding: 30px 0;
}

.page-yuyue .title .name {
    font-size: 18px;
    color: #FDAD36;
}

.page-yuyue .title .txt {
    font-size: 12px;
    display: inline-block;
    background: rgba(0, 0, 0, 8);
    border-radius: 10px;
    padding: 3px 6px;
    position: relative;
    top: -2px;
}

.page-yuyue .nums {
    text-align: center;
    color: #FDAD36;
    font-size: 30px;
}

.page-yuyue .nums span {
    background: url(http://i5.hunantv.com/s1/2015/mwsgssltg/images/v2/bg-num.png) no-repeat;
    background-size: 100% 100%;
    padding: 4px 6px;
    margin: 0 3px;
}

.page-yuyue .btns {
    text-align: center;
}

.page-yuyue .btns a {
    color: #FFF3D3;
    border: 2px solid #FFF3D3;
    border-radius: 20px;
    margin: 30px auto;
    padding: 12px 0;
}

.page-yuyue .btns .btn-qsy {
    display: block;
    width: 30%;
}

.page-yuyue .btns .btn-qxz {
    display: block;
    width: 56%;
}

.tdtpd {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
}

.tdtpd .main {
    width: 90%;
    position: fixed;
    left: 50%;
    top: 10%;
    margin-left: -45%;
}

.pannel-index li {
    position: relative;
}

.pannel-index li .btn {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    background: #FDAD36;
    border-radius: 20px;
    position: absolute;
    left: 3%;
    bottom: 24%;
    padding: 5px 15px;
}

.pannel-index li .btn img {
    width: 16px;
    position: relative;
    top: -1px;
}

.grfb {
    margin: 0 10px;
    background: #FFFFFF;
    padding: 10px 0;
    text-align: center;
}

.grfb li:nth-child(1) {
    float: left;
    width: 40%;
    padding: 0 5px;
}

.grfb li:nth-child(2) {
    /*float: left;*/
    display: inline-block;
    width: 60%;
    padding: 0 5px;
}

.grfb li > div {
    background: #CD7609;
    color: #fff;
    padding: 2px;
    margin: 0 8px;
    text-align: left;
}

.grfb .txt {
    color: #000;
    background: #fff;
    display: inline-block;
    padding: 2px 4px;
}

.countdown {
    padding: 15px 0;
    text-align: center;
    margin: 0 10px;
}

.countdown .title {
    color: #333;
}

.countdown .title img {
    width: 14px;
    position: relative;
    top: -1px;
}

.countdown .time {
    padding: 15px 0 0;
}

.countdown .time span.num {
    display: inline-block;
    color: #FD9F1A;
    font-size: 18px;
    background: url(http://i5.hunantv.com/s1/2015/mwsgssltg/images/t3/bg-num.png) no-repeat;
    background-size: 100% 100%;
    padding: 2% 2%;
}

.countdown .time span.dot {
    color: #FD9F1A;
}

.index-main {

}

.pannel-review {
    position: relative;
    overflow: hidden;
}

.pannel-review .line {
    width: 3px;
    height: 100%;
    position: absolute;
    left: 16px;
    top: 30px;
    background: #fff;
}

.review-list {
    padding: 30px 10px 0;
}

.review-list .order {
    font-size: 18px;
    color: #fff;
    font-style: italic;
    letter-spacing: 5px;
    padding-bottom: 10px;
}

.review-list .order i {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #fff;
    border-radius: 15px;
}

.review-list .img {
    margin-left: 20px;
    position: relative;
}

.review-list .title {
    position: absolute;
    width: 100%;
    color: #fff;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-indent: 10px;
}

.review-list .btns {
    background: #EEEEEE;
    margin-left: 20px;
    text-align: center;
    padding: 14px 0;
}

.review-list .btns a {
    display: inline-block;
    padding: 8px 10px;
    background: #FFFFFF;
    border: 2px solid #C1C1C1;
    border-radius: 10px;
    color: #333333;
}

@media only screen and (max-width: 375px) {
    .review-list .btns a {
        display: inline-block;
        padding: 8px 6px;
        background: #FFFFFF;
        border: 2px solid #C1C1C1;
        border-radius: 10px;
        color: #333333;
        font-size: 13px;
    }
}

.review-list .btns a:first-child {
    float: left;
    margin-left: 5px;
}

.review-list .btns a:last-child {
    float: right;
    margin-right: 5px;
}

.review-list li {
    margin-bottom: 30px;
}

.review-list li:last-child {
    margin: 0;
}

.review-list .eight .btns {
    padding-bottom: 5px;
}

.review-list .eight .btns a {
    display: inline-block;
    width: 23%;
    margin: 0 0 10px;
}

.review-list .eight .btns a:first-child {
    float: none;
    margin-left: 0;
}

.review-list .eight .btns a:last-child {
    float: none;
    margin-right: 0;
}

.zbyg {
    padding: 30px 10px 20px;
}

.zbyg .hd img {
    width: 44%;
}

.zbyg .bd {
    margin: 14px 0;
}

.zbyg .bd .title {
    color: #fff;
    text-indent: 10px;
    padding: 10px 0 8px;
    background: #1E1F21;
}

.zbyg .singers-today .title {
    background: #1B012E;
}

.zbyg .bd .title span {
    float: right;
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
}

.zbyg .bd .list {
    padding: 20px 0;
    text-align: center;
    background: #111111;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.zbyg .bd .list a {
    display: block;
    width: 30%;
}

.zbyg .bd .list a.icon-vs img {
    width: 50%;
    opacity: .5;
}

.zbyg .bd .list .avatar {
    width: 80%;
    margin: auto;
    border-radius: 100%;
    border: 3px solid #262626;
}

.zbyg .bd .list .avatar img {
    border-radius: 100%;
}

.zbyg .bd .list .name {
    color: #fff;
    margin: 8px 0 0;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.xrtj .hd img {
    margin: 0 8px;
    width: 44%;
}

.xrtj .info {
    margin: 0 8px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    padding: 15px 0;
}

.xrtj .info .avatar {
    width: 60px;
    border: 1px solid #666666;
    border-radius: 100%;
}

.xrtj .info .avatar img {
    border-radius: 100%;
}

.xrtj .info .name {
    -webkit-box-flex: 1;
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
}

.xrtj .info .name img {
    width: 25px;
    margin-left: 10px;
}

.xrtj .info .btn {
    width: 110px;
    text-align: center;
}

.xrtj .info .btn a {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 10px;
}

.xrtj ul {
    padding: 0 0 0 8px;
}

.xrtj li {
    float: left;
    width: 50%;
    padding: 0 8px 0 0;
    margin-bottom: 8px;
}

.xrtj li .pic {
    position: relative;
}

.xrtj li .time {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    color: #aaa;
    background: rgba(0, 0, 0, .8);
    padding: 4px 8px;
}

.xrtj li .title {
    background: #151515;
    padding: 8px;
    height: 50px;
    color: #fff;
}

.xrtj li .title p {
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.gsxz {
    padding: 25px 10px 0;
}

.gsxz .title {
    width: 44%;
}

.tghxr {
    padding: 25px 10px 0;
}

.tghxr .title {
    width: 52%;
}

.tghxr ul {
    padding: 20px 0 0;
}

.tghxr li {
    display: inline-block;
    width: 33.33%;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.tghxr li a {
    display: block;
    width: 100%;
    text-align: center;
}

.tghxr li a.icon-vs {
    opacity: .5;
}

.tghxr li a.icon-vs img {
    width: 40%;
}

.tghxr li .avatar {
    border: 3px solid #262626;
    border-radius: 100%;
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 10;
}

.tghxr li .avatar-wrap {
    position: relative;
}

.tghxr li .rank {
    position: absolute;
    top: 0;
    left: 50%;
    background: #262626;
    color: #FD9F1A;
    font-style: italic;
    display: block;
    width: 45%;
    text-align: right;
    border-radius: 0 20px 20px 0;
    padding: 3% 6% 3% 0;
}

.tghxr li .name {
    color: #fff;
    padding: 10px 0;
}

.tghxr li .fenbei {
    color: #999;
    padding: 0;
    font-size: 12px;
}

.tghxr li .icon-win {
    position: absolute;
    top: -10%;
    left: 10%;
    display: block;
    width: 25%;
    z-index: 15;
}



.mod-enter{

}
.mod-enter .mod-enter-icon {
    margin: 1% 8px 0 8px;
}
.mod-enter .mod-enter-icon ul li{
    width:50%;
    height:auto;
    float:left;
}
.mod-enter .mod-enter-icon ul li img{
    width:100%;
    height:auto;
}
.mod-enter .mod-enter-icon ul li h6{
    background: rgba(255, 255, 255, 0.75);
    font-size:12px;
    color:#333;
    border-radius: 8px;
    line-height: 16px;
    height:16px;
    position: relative;
    top:-16px;
    text-align: center;
    width:60%;
    margin: 0 auto;
}

.mod-enter .mod-enter-bottom {
    position: relative;
    top:-20px;
    margin: 0 8px 0 8px;
}
.mod-enter .mod-enter-bottom  img{
    width:100%;
    height:auto;
}
.tab-menu {
    overflow: auto;
  height: 24px;
}


.tab-menu li {
  float: left;
  height: 24px;
  background: #eee;
  border-radius: 12px;
  margin:0 1% 0 1%;
  text-align:center;
  line-height: 24px;
}

.tab-menu li.active {
background: #fff;
}
